<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner Suggestion</title>
</head>
<body>
    <h1>Dinner Suggestion:</h1>
    <p>Main Dish: {{ main }}</p>
    <p>Side Dish: {{ side }}</p>
    <p>Dessert  : {{ dessert }}</p>
    <button onclick="window.location.reload();" style="background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;">Generate New Suggestion</button>
</body>
</html>
